On Mondays and Wednesdays (with recap on Wednesdays)<br>
<br>
<b>Working with Data (Regular Expressions)</b><br>
<a href="https://librarycarpentry.org/lc-data-intro/">https://librarycarpentry.org/lc-data-intro/</a><br>
<br>
<b>OpenRefine</b><br>
<a href="https://librarycarpentry.org/lc-open-refine/">https://librarycarpentry.org/lc-open-refine/</a><br>
<br>
<b>The Unix Shell</b><br>
<a href="http://swcarpentry.github.io/shell-novice">http://swcarpentry.github.io/shell-novice</a><br>
<br>
<b>Version Control with Git</b><br>
<a href="http://swcarpentry.github.io/git-novice">http://swcarpentry.github.io/git-novice</a><br>
<br>
<b>Programming with Python</b><br>
<a href="http://swcarpentry.github.io/python-novice-inflammation">http://swcarpentry.github.io/python-novice-inflammation</a><br>
<br>
<b>Plotting and Programming in Python</b><br>
<a href="http://swcarpentry.github.io/python-novice-gapminder">http://swcarpentry.github.io/python-novice-gapminder</a><br>
<br>
<b>Programming with R</b><br>
<a href="http://swcarpentry.github.io/r-novice-inflammation">http://swcarpentry.github.io/r-novice-inflammation</a><br>
<br>
<b>R for Reproducible Scientific Analysis</b><br>
<a href="http://swcarpentry.github.io/r-novice-gapminder">http://swcarpentry.github.io/r-novice-gapminder</a><br>
<br>
<b>Intro to Conda for Data Scientists</b><br>
<a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/">https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists/</a><br>
<br>
<b>Parallel Programming in Python</b><br>
<a href="https://carpentries-incubator.github.io/lesson-parallel-python/">https://carpentries-incubator.github.io/lesson-parallel-python/</a><br>
<br>
<b>Intro to AI for GLAM</b><br>
<a href="https://carpentries-incubator.github.io/machine-learning-librarians-archivists/">https://carpentries-incubator.github.io/machine-learning-librarians-archivists/</a><br>
<br>
<b>Introduction to Machine Learning with Scikit Learn</b><br>
<a href="https://carpentries-incubator.github.io/machine-learning-novice-sklearn/">https://carpentries-incubator.github.io/machine-learning-novice-sklearn/</a><br>
<br>
<b>Introduction to deep-learning</b><br>
<a href="https://carpentries-incubator.github.io/deep-learning-intro/index.html">https://carpentries-incubator.github.io/deep-learning-intro/index.html</a><br>
<br>
<b>Logistic regression for public health</b><br>
<a href="https://carpentries-incubator.github.io/logistic-regression-public-health/index.html">https://carpentries-incubator.github.io/logistic-regression-public-health/index.html</a><br>
<br>
<b>Simple linear regression for public health</b><br>
<a href="https://carpentries-incubator.github.io/simple-linear-regression-public-health/">https://carpentries-incubator.github.io/simple-linear-regression-public-health/</a><br>
<br>
<b>Multiple linear regression for public health</b><br>
<a href="https://carpentries-incubator.github.io/multiple-linear-regression-public-health/">https://carpentries-incubator.github.io/multiple-linear-regression-public-health/</a><br>
<br>
<b>Statistical thinking for public health</b><br>
<a href="https://carpentries-incubator.github.io/statistical-thinking-public-health/">https://carpentries-incubator.github.io/statistical-thinking-public-health/</a><br>
<br>
<b>High dimensional statistics with R</b><br>
<a href="https://carpentries-incubator.github.io/high-dimensional-stats-r/">https://carpentries-incubator.github.io/high-dimensional-stats-r/</a><br>
<br>
<b>Image Processing with Python</b><br>
<a href="https://datacarpentry.org/image-processing/">https://datacarpentry.org/image-processing/</a><br>
<br>
<b>Introduction to Working with MRI Data in Python</b><br>
<a href="https://carpentries-incubator.github.io/SDC-BIDS-IntroMRI/">https://carpentries-incubator.github.io/SDC-BIDS-IntroMRI/</a><br>
<br>
<b>Structural MRI (Pre)processing and Neuroimaging Analysis</b><br>
<a href="https://carpentries-incubator.github.io/SDC-BIDS-sMRI/">https://carpentries-incubator.github.io/SDC-BIDS-sMRI/</a><br>
<br>
<b>Functional Neuroimaging Analysis in Python</b><br>
<a href="https://carpentries-incubator.github.io/SDC-BIDS-fMRI/index.html">https://carpentries-incubator.github.io/SDC-BIDS-fMRI/index.html</a><br>
<br>
<b>Introduction to dMRI</b><br>
<a href="https://carpentries-incubator.github.io/SDC-BIDS-dMRI/index.html">https://carpentries-incubator.github.io/SDC-BIDS-dMRI/index.html</a><br>
<br>
<b>Foundations of Astronomical Data Science</b><br>
<a href="https://datacarpentry.org/astronomy-python/">https://datacarpentry.org/astronomy-python</a><br>
